*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

.workoutCards{
    border: 10px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background: linear-gradient(90deg, rgb(128, 154, 194) 0%, rgb(160, 160, 199) 35%, rgb(154, 203, 212) 100%);
    margin-top: 20px;
    padding: 20px;
    height: 30rem;
    width: 25rem;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workoutCards:hover {
    transform: translateY(-5px); /* Subtle lift effect */
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.3); /* Stronger shadow on hover */
}

.exercise-gif{
    width: 20rem;
    height: 20rem;
    padding: 15px;
    margin-left: 5%;
    border-radius: 10%;
    
    
}

.workoutCards h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #000000; /* Neutral text color */
}

.workoutContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Defines flexible columns */
    gap: 20px; /* Adds space between the cards */
    margin-top: 5%;
    margin-left: 10%;
    padding: 20px;
    justify-content: center; /* Centers the grid items */
    align-items: start; /* Aligns the grid items at the top */
}



.searchBar{
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1rem;
    width: 25%;
    border-style: none;
    font-size: 1.25rem;
}
.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.searchButton{
    color:white;
    font-size: 1.25rem;
    border-style: none;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: #3b8edb; /* Brighter button */
    margin-left: 10px;
   
}

.searchBar:hover{
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.3); /* Stronger shadow on hover */
}
.searchButton:hover {
    background-color: #4e80c2; /* Slightly darker on hover */
    transform: translateY(-2px); /* Subtle lift effect */
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.3); /* Stronger shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.save-icon{
    width: 2.5rem;
    height: 3rem;
    filter: invert(0);
}

.save-icon:hover{
    filter: invert(1);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    color: #000000; /* Darker text color */
}
